<?xml version="1.0"?>

<model>
  <name>x3</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Aguero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    X3 UAV model from Open Robotics Gazebo Fuel.
    Licensed under CC-BY-4.0. See ATTRIBUTION and LICENSE-CC-BY-4.0.txt in this folder.
    Source: https://app.gazebosim.org/OpenRobotics/fuel/models/X3%20UAV
  </description>
</model>
